<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile *ngFor="let board of board$ | async">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ board.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button><span class="material-icons">delete</span></button>
        <button mat-button><span class="material-icons">create</span></button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-form-field>
        <input matInput #boardTitle />
      </mat-form-field>
      <mat-card-actions>
        <button mat-button (click)='addBoard(boardTitle.value)'><span class="material-icons">add</span></button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>




