<div class="registration">

  <ul id="registration-tabs" class="registration-tabs">
    <li data-tab="0" class="registration-tabs-tab" (click)="changeActivity(true)" [class.active-tab]="logIn">Sign In</li>
    <li data-tab="1" class="registration-tabs-tab" (click)="changeActivity(false)" [class.active-tab]="!logIn">Sign Up</li>
  </ul>

  <div *ngIf="showSpinner$ | async" class="registration-spinner">
    <mat-spinner></mat-spinner>
  </div>

  <app-signin *ngIf="logIn"></app-signin>

  <app-signup *ngIf="!logIn"></app-signup>

</div>
