<div class="registration">

  <ul id="registration-tabs" class="registration-tabs">
    <li data-tab="0" class="registration-tabs-tab" (click)="changeActivity(true)" [class.active-tab]="logIn">Sign In</li>
    <li data-tab="1" class="registration-tabs-tab" (click)="changeActivity(false)" [class.active-tab]="!logIn">Sign Up</li>
  </ul>

  <form class="registration-form" id="form">

    <span class="registration-form-label">Please enter your email</span>
    <input type="email" [(ngModel)]="email" class="registration-form-input" name="email" placeholder="Enter your email" />

    <span *ngIf="!logIn" class="registration-form-label">Please enter your login name</span>
    <input *ngIf="!logIn" type="text" [(ngModel)]="name" class="registration-form-input" name="name" placeholder="Enter your login name" />

    <span class="registration-form-label">Please enter your password</span>
    <input type="password" [(ngModel)]="password" class="registration-form-input" name="password" placeholder="Enter your password" />


    <button *ngIf="logIn" class="registration-form-button" type="submit" (click)="signIn()">Log In</button>
    <button *ngIf="!logIn" class="registration-form-button" type="submit" (click)="signUp()">Register</button>

  </form>
  
</div>

