$color-background-brand: rgb(0, 121, 191);
$color-background-brand-darken: rgb(21, 4, 176);
$color-background-secondary: rgba(9, 30, 66, 0.14);
$color-background-secondary-darken: rgba(9, 30, 66, 0.24);
$color-background-brand-button: rgba(0, 191, 255, 0.24);
$color-background-board: rgb(75, 191, 107);
$color-background-board-button: rgba(75, 191, 107, 0.24);
$color-background-board-button-hover: rgba(75, 191, 107, 0.41);
$color-background-button-cancel: rgba(196, 54, 30, 0.78);
$color-background-button-cancel-hover: rgba(212, 57, 30, 0.94);
$color-background-list: #ebecf0;
$color-faded: rgba(207, 207, 207, 0.8);
$color-shadow: #c3c3c3;
$color-title: #172b4d;
$color-text: #5e6c84;
$color-second-text: #ffffff;
$color-list-extras: #000000;
$color-background-list-hover: #cacee0;
$error: #e4070c;
