<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile *ngFor="let column of columns$ | async; trackBy: trackById">
    <mat-card class="example-card">

      <app-column></app-column>

      <mat-card-actions>
        <button 
          mat-button
          (click)="deleteColumn(column._id)"
        >
          Delete
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="example-card">
      <input 
        matInput 
        [(ngModel)]="columnTitle"
      />
      <mat-card-actions>
        <button 
          mat-button
          (click) = "addColumn()"
        >
          Add
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
